*{
    margin: 0;
    padding: 0;
    font-family:monospace;
    box-sizing: border-box;
  }
  
  body{
    background-color: #ffe4c4;
  }




  /*  Header  */

  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.4em;
  }
  
  h1{
    text-align: center;
    font-size: 1em;
  }
  
  .header-container img{
    width: 150px;
    margin: 30px 0px 10px;
  }
  
  img{ max-width: 100%;}
  
  
  @media screen and (min-width:1000px) {
   
    h1{
      font-size: 2em;
    }
  
    .img-content{
      width: 200px;
    }
  }