
.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
   
}



.popup{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Schoolbell', cursive;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 20px;
    padding: 20px 25px 30px;
    background-image: url("../img/guide-bacground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 650px;
    
}

.popup h3{
    font-size: 2em;
    color: rgb(116, 32, 122);
   
}

br{
    display: block;
    margin-bottom: 0px;
}

.bottle{
 width: 70px;
 margin-bottom: 10px; 
 transform: rotate(15deg);  
 filter: sepia(0.);
}

.beer{
 width: 170px;
 filter: sepia(0.2);
 margin-bottom: 10px;
 margin-top: 20px; 
 /* transform: rotate(-15deg); */
   
}

.chupito{
    width: 200px;
}

.popup hr{
    margin: 10px;
    border: none;

}

.popup-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("../img/orange-butn.png");
    color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 50px;
    margin: 15px;
    padding-bottom: 3px;
    background-size: 80%;
    filter: none;
    font-size: 1.3em;
}

.popup-btn:hover{
   
    filter: brightness(105%);
}

.popup-btn:active{
    font-size: 1.26em;
    padding-bottom: 2px;
    background-size: 78%;
    filter: brightness(105%);
    filter: none;
}

/*       Tabla       */

table{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 290px;
    border: solid #ab905e 2px;
    padding-top: 7px;
    border-radius: 10px;
    justify-content: start;
    border-spacing: 5px;
    background-color: #f9e2b7;
    overflow:scroll;
    overflow-x: hidden;
}

tbody, th, td{
    width: 100%;
    min-width: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    line-height: 2em;
}

th{
    background-color: #acd1b3;

}

table td{
    background-color: rgb(254, 239, 222);
    
}

.antorcha{
    position: absolute;
    bottom: 0;
    margin-bottom: 110px;
    right: 0;
    margin-right: 17px;
    width: 40px;
}


/*       Code Box       */

.code-box{
    font-size: 1.2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;    
}

.code-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 40px;
    background-color: #53e5aa;
    border-radius: 5px;
    justify-content: center;
    align-items: center;    
}

.fa-square-xmark{
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.862);
    position: absolute;
    top: 4px;
    left: 5px;
    
}

.input-text{
    height: 30px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
}

.send-code-btn{
    margin: 0;
}

.code-msg:not(:empty){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.code-msg i{
    font-size: 2em;
    color: rgb(196, 5, 82);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
}

/* -------------------------- Winn Pannel -------------------------- */

.end-game-img{
    width: 250px;
}

/* -------------------------- Winn Pannel -------------------------- */

.win-panel-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-win-pannel{
    margin-top: -40px;
    margin-left: -10px;
}

.treasure-code-container{
    border: dashed rgb(194, 160, 100) 2px;
    width: fit-content;
    line-height:  2em;
    padding: 0px 20px 8px;
    margin-top: 15px;

}

.winner-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.input-name{
    width: 170px;
    height: 25px;
    background-color: antiquewhite;
    margin-top: 5px;
    border: solid 1px rgb(176, 137, 63);
   
}

.submit-name{

    width: 25px;
    height: 25px;
    background-color: rgb(109, 215, 33);
    border: solid 0px rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px #0f4403;
}

.submit-name:active{

    box-shadow: 1px 1px #0f4403;
}


.share-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff7d9;
    border-radius: 5px;
}

.share-button-container a i{
    font-size: 32px;
}

.share-button-container a{
    margin: 0px 12px;
    cursor: pointer;
}

.share-button-container a:hover{
    transform: scale(1.2);
}

.share-button-container .fa-facebook{
    color:#1877f2;
}

.share-button-container .fa-twitter{
    color:#1da1f2;
}

.share-button-container .fa-linkedin{
    color:#0077b5;
}

.share-button-container .fa-whatsapp{
    color:#25d366;
}

.share-button-container .fa-share{
    color: rgb(75, 92, 239);
}

.share-button-container .fa-telegram{
    color: #0088cc;
}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}