
.overlay{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Schoolbell', cursive;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin: 20px;
    padding: 40px 25px 80px;
    background-image: url("../img/guide-bacground.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
}

.bottle{
 width: 70px;
 margin-bottom: 10px; 
 transform: rotate(15deg);  
 filter: sepia(0.);
}

.beer{
 width: 170px;
 filter: sepia(0.2);
 margin-bottom: 10px;
 margin-top: 20px; 
 /* transform: rotate(-15deg); */
   
}

.popup hr{
    margin: 20px 0px;
    border: dashed rgb(153, 133, 108) 2px;
    border-bottom: none;
    width: 200px;
}

.popup-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("/public/img/orange-butn.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 50px;
    margin: 15px;
    padding-bottom: 3px;
    background-size: 80%;
    filter: none;
    font-size: 1.3em;
}

.popup-btn:hover{
   
    filter: brightness(105%);
}

.popup-btn:active{
    font-size: 1.26em;
    padding-bottom: 2px;
    background-size: 78%;
    filter: brightness(105%);
    filter: none;
}